
footer {
  background-color: #415071;
}

footer p {
  color: white;
}

.central_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 15px;
  border-color: black;
}

.card {
  width: 10rem;
}

.display-4
{
  font-size: 30px;
}

p {
  font-size: 15px
}

h4 {
  font-size: :20px;
}

@media (min-width: 992px) {
  .display-4{
    font-size: initial;
    font-color: blue;

  }


}
