@import url('https://fonts.googleapis.com/css?family=Oxygen:regular,bold,bolditalic&display=swap');

@import url('https://fonts.googleapis.com/css?family=Karla:regular,bold,bolditalic&display=swap');




body {
  font-family: 'Karla', sans-serif;
  font-size: 13pt;
}

.navbar-light .navbar-brand, a h5, lead strong, .nav-link{
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
  color: #4798E8;
}

h1 {
  font-size: 36px;
  font-weight:bold;
}

h2 h3 h4 h5 h6 {
  font-family: 'Oxygen', sans-serif;
}

h2, h3 strong, h1 strong {
  color: #4798E8;
}

h2 strong, h2 small{
  color:black;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1em;
  margin-top: 30px;

}

footer p {
  color: #415071;
  font-family: 'Oxygen', sans-serif;
}

.central_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 15px;
  border-color: black;
}

html {

  position: relative;
  min-height: 100%;
}


@media only screen and (min-width: 992px) {
  html {
    font-size: 1rem;
    color: blue;

  }
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 30px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;

}

.card span.card-title {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}

.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}

.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}

.card-img {
 width: 100%;
  height: 25vh;
  object-fit: cover;
  filter: brightness(60%); /*used to darken image*/
}


.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}

.card .card-content p {
  margin: 0;
  color: inherit;
}

.card .card-content span.card-title {
  line-height: 48px;
}

.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}

.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

.card .card-img-overlay,.card-text,.card-title {
  color:white;
}

.card-title {
  font-family: 'Oxygen', sans-serif;
}

figure {
  margin: 2em;

}

figure:hover {
  opacity:0.7;
}

.darkbd {
  border-style: solid;
  border-width: 1px;
}


.embed-responsive {
  margin: 2em;

}

.bg-light {
  background-color: #FFFF !important;
}

.btn-outline-primary{
  border-color:#7AAEE9;
  border-width:2px;
  color:black;
}

.btn-outline-primary:hover{
  background-color:#7AAEE9;
  border-color:#7AAEE9;
}

.callout { 
  border-left: thick solid #4798E8;
  border-left-width:4px;
  padding: 5px;
  height:100%;
}

.callout {
  margin: 2rem;
}

.callout blockquote {
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

.diagram {
  width: 100%;
}