


@font-face {
  font-family: Mplus2mMedium;
  src: url(/assets/fonts/mplus-2m-medium.ttf);
}

@font-face {
  font-family: Mplus2mLight;
  src: url(/assets/fonts/mplus-2m-light.ttf);
}

@font-face {
  font-family: Mplus2pLight;
  src: url(/assets/fonts/mplus-2p-light.ttf);
}

@font-face {
  font-family: Mplus2cMedium;
  src: url(/assets/fonts/mplus-2c-medium.ttf);
}

.navbar-light .navbar-brand {
  font-family: 'Mplus2mMedium';
  color: #BD2D27;
  background-color: #FFF;
  
}

.navbar-expand-lg .navbar-collapse {
  font-family: 'Mplus2mLight';
}

.nav-link {
  font-family: 'M+ M Type-2 (basic latin) Light';
}


.display-4 {
  font-family: 'Mplus2mMedium';
  color: #BD2D27;
}
.lead {
  font-family: 'Mplus2mMedium';
}

h1 {
  font-family: 'M+ C Type-2 (basic latin) Medium';
  color: #BD2D27;
}

h3 {
  font-family: 'M+ M Type-2 (basic latin) Light';
  color: #BD2D27;
}

ol {
  font-family: 'M+ P Type-2 (basic latin) Regular';
}

ul {
  font-family: 'M+ P Type-2 (basic latin) Regular';
}

strong{
  font-family: 'M+ P Type-2 (basic latin) Medium';
  color: #BD2D27;
}

body{
  padding-bottom: 70px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1em;
  
}

footer p {
  color: #BD2D27;
  font-family: 'Mplus2mMedium';
}

.central_image {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 15px;
  border-color: black;
}



html
{
  font-size: .5rem;
  position: relative; min-height: 100%;
}

p {
  font-family: 'M+ P Type-2 (basic latin) Regular';
}

h4 {
  font-family: 'M+ C Type-2 (basic latin) Medium';
}

figcaption {
  font-family: 'Mplus2cMedium';
  font-size: 230rem;
}

.card-text {
  font-family: 'Mplus2mMedium';
  color: #BD2D27;
}

@media only screen and (min-width: 992px) {
  html{
    font-size: 1rem;
    color: blue;

  }
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 16px;
}
.card .card-action a {
  color: #ffab40;
  margin-right: 16px;
  transition: color 0.3s ease;
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}

figure {
  margin:2em;
  
}

.embed-responsive {
  margin:2em;
  
}

